@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(13,13,83,1) 0%, rgba(0,212,255,1) 100%);
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 0 16px;
}

h1 {
    text-align: center;
}

.container {
	max-width: 500px;
	width: 100%;
	position: center;
}

.btn-submit {
	padding: 12px 0;
	display: block;
	width: 100%;
	color: black;
	border-radius: 6px;
	cursor: pointer;
	transition: all .3s ease;
	border: none;
	font-weight: 500;
	background: #e3e2df;
	margin-bottom: 20px;
}