<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/LoginRegister.css') }}">
    <title>Forgot Password</title>
</head>
<body>
    <div class="container">
        <h1 style = "color: #659dbd">Password recovery</h1>
        <hr style = "border-color: #659dbd">
        <p></p>
        <form action="/login/forgot" method="post">
            <label for = "email">E-mail</label>
            <input type = "email" name = "email" id = "email" placeholder="Please write your email">
            {%for message in get_flashed_messages()%}
                <span style="color:red">{{message}}</span>
            {%endfor%}
            <button type = "submit">Send code to your Email</button>
        </form>
        <form action="/">
            <button type = "submit">Back</button>
        </form>
    </div>
</body>
</html>