<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/Home.css') }}">
    <title>Home</title>
</head>
<body>
    <div class = "container">
        <h1 style = "color: black"><strong>AITU Lost&Found</strong></h1>
        <form action="/login">
            <button type = "submit" class = "btn-submit">Login</button>
        </form>
        <form action="/sign_up">
            <button type = "submit" class = "btn-submit">Register</button>
        </form>
    </div>
</body>
</html>