<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/LoginRegister.css') }}">
    <title>Register</title>
</head>
<body>
    <div class = "container">
        <h1 style = "color: #659dbd">Sign Up</h1>
        <hr style = "border-color: #659dbd">
        <p></p>
        <form method = "POST">

			<label for = "email">Email</label>
            <input type = "email" id = "email" name = "email" placeholder="Please write email" required>
            <label for = "full_name">Full-name</label>
            <input type = "text" id = "full_name" name = "full_name" placeholder="Please write your full name" required>
            <label for = "password1">Password</label>
            <input type = "password" id = "password1" name = "password1" placeholder="Please write password" required>
            <label for = "password2">Confrirm password</label>
            <input type = "password" id = "password2" name = "password2" placeholder="Confirm password">
            <label for = "group">Group</label>
            <input type = "text" id = "group" name = "group" placeholder="Please write your group" required>
            <label for = "phone_number">Phone number</label>
            <input type = "text" id = "phone_number" name = "phone_number" placeholder="Please write your phone number" required>
            <center>{%for message in get_flashed_messages()%} <span style="color: red">{{message}}</span>{%endfor%}</center>
            <button type = "submit">Register</button>
        </form>
        <form action="/">
            <button type = "submit">Back</button>
        </form>
    </div>
</body>
</html>