<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/LoginRegister.css') }}">
    <title>Login</title>
</head>
<body>
    <div class = "container">
        <h1 style = "color: #659dbd">Login</h1>
        <hr style = "border-color: #659dbd">
        <p></p>
        <form action="/login" method = "post" enctype="multipart/form-data">
			<label for = "email">Email</label>
            <input type = "email" id = "email" name = "email" placeholder="Please write email" required>
            <label for = "password">Password</label>
            <input type = "password" id = "password" name = "password" placeholder="Please write password" required>
            {%for message in get_flashed_messages()%}
					<span style="color:red">{{message}}</span>
            {%endfor%}
            <button type = "submit">Login</button>
        </form>
        <form action="/">
            <button type = "submit">Back</button>
        </form>
        <form action="/login/forgot">
            <button type = "submit">Forgot password</button>
        </form>
    </div>
</body>
</html>